# django_ma/.gitignore

# 가상환경 폴더
venv/
# dotenv files
.env
.env.*
*.env
!*.example.env   # (선택) 예시 파일은 계속 추적하고 싶을 때

# Python 캐시 파일
__pycache__/
*.py[cod]

# 로그 파일
*.log

# IDE/에디터 설정 파일
.vscode/
.idea/

# OS별 불필요 파일
.DS_Store
Thumbs.db

# DB dumps / backups
*.dump
*.sql
*.sql.*
backup_*.sql

# Django runtime
media/
uploads/
staticfiles/

# Django local settings (있다면)
local_settings.py

static/pdf/*.pdf

gunicorn.ctl
celerybeat-schedule