{# django_ma/templates/admin/accounts/customuser/change_list.html #}
{% extends "admin/change_list.html" %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin/accounts_customuser.css' %}?v={% now 'U' %}">
{% endblock %}

{% block object-tools %}
<ul class="object-tools">

  {% if has_add_permission and cl.add_url %}
  <li>
    <a href="{{ cl.add_url }}" class="addlink">
      {{ cl.opts.verbose_name|default:"USER" }} 추가
    </a>
  </li>
  {% endif %}

  <li>
    <a href="{% url 'admin:export_all_users_excel' %}" class="button">
      엑셀 다운로드
    </a>
  </li>

  <li>
    <a href="{% url 'admin:upload_users_excel' %}" class="button">
      엑셀 업로드
    </a>
  </li>

</ul>
{% endblock %}
